{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
{% elsif page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<!-- modificado 12 junio 2022 -->
<!-- meta property="og:description" content="{{ site.description }}" /-->
{% endif %}
<meta name="author" content="{{ site.author }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta name="twitter:title" content="{{ page.title }}" />
{% endif %}

{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<meta property="og:image:secure_url" content="{{ site.url }}{{ page.image }}" />
<meta name="twitter:image" content="{{ site.url }}/images/profile1200x628.png" />
<!--meta property="og:image:width" content="1616" /-->
<!--meta property="og:image:height" content="1269" /-->
<!--meta name="twitter:image" content="{{ site.url }}{{ page.image }}" /-->
{% else %}
<meta property="og:image" content="{{ site.url }}/images/profile1200x628.png" />
<meta property="og:image:secure_url" content="{{ site.url }}/images/profile1200x628.png" />
<meta name="twitter:image" content="{{ site.url }}/images/profile1200x628.png" />
<!--meta property="og:image" content="{{ site.url }}{{ site.avatar }}" /-->
<!--meta property="og:image:secure_url" content="{{ site.url }}{{ site.avatar }}" /-->
<!--meta name="twitter:image" content="{{ site.url }}{{ site.avatar }}" sizes="1616x1269" /-->
{% endif %}



<meta name="robots" content="index,follow,max-snippet:-1,max-image-preview:standard,max-video-preview:2" />
<meta name="keywords" lang="es" content="abogado, estudio de abogados, abogado penalista, abogado familia, abogado sucesiones, abogado civil, derecho civil, derecho penal, cobranzas, mediacion, mediador, estudio jurídico, legal, legales, juridico, estudio juridico, bufete, despacho, estudio nale, estudionale.com, estudionale, gustavo nale, gustavo david nale, nale, santa rosa, la pampa, argentina" />
<meta name="keywords" lang="en" content="lawyer, attorney, gustavo nale, gustavo david nale, estudionale.com" />
<meta name="copyright" content="{{ site.author }}" />
<meta name="rating" content="general" />
<meta name="language" content="es-419" />
<!--link rev="made" href="mailto:estudionale@gmail.com" />
<link rev="owner" href="mailto:estudionale@gmail.com" />
<meta name="reply-to" content="estudionale@gmail.com" />
<meta http-equiv="reply-to" content="estudionale@gmail.com" /-->
<meta http-equiv="resource-type" content="document" />


<meta property="og:type" content="profile" />
<meta property="og:locale" content="es_la" />
<meta property="og:locale:alternate" content="es-419" />
<meta property="og:locale:alternate" content="es_la" />
<meta property="og:locale:alternate" content="es_mx" />
<meta property="og:locale:alternate" content="es_es" />
<!--meta property="ia:markup_url" content="{{ site.url }}/?ia_markup=1" /-->
<meta name="twitter:domain" content="estudionale.com" />
<meta name="twitter:url" content="{{ site.url }}/" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@estudionale" />
<meta name="twitter:creator" content="@estudionale" />
<meta name="twitter:image:alt" content="{{ site.url }}, {{ site.name }}, {{ site.author }}, {{ site.description }}" />


<meta property="og:image:alt" content="{{ site.url }}, {{ site.name }}, {{ site.author }}, {{ site.description }}" />
<meta property="fb:app_id" content="391026149704853" />
<!--meta property="fb:pages" content="100064106407750" / (da error la pagina)-->

<link rel="schema.dc" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/" />
<meta name="dc.contributor" content="{{ site.author }}" />
<meta name="dc.coverage" content="World" />
<meta name="dc.creator" content="{{ site.author }}" />
<meta name="dc.description" content="{{ site.description }}" />
<meta name="dc.format" content="text/html" />
<meta name="dc.keywords" lang="es" content="abogado, estudio de abogados, abogado penalista, abogado familia, abogado sucesiones, abogado civil, derecho civil, derecho penal, cobranzas, mediacion, mediador, estudio jurídico, legal, legales, juridico, estudio juridico, bufete, despacho, estudio nale, estudionale.com, estudionale, gustavo nale, gustavo david nale, nale, santa rosa, la pampa, argentina" />
<meta name="dc.keywords" lang="en" content="lawyer, attorney, gustavo nale, gustavo david nale, estudionale.com" />
<meta name="dc.language" content="es-419" />
<meta name="dc.relation" content="https://estudionale.negocio.site/" />
<meta name="dc.relation" content="https://www.facebook.com/estudionale/" />
<meta name="dc.relation" content="https://www.instagram.com/estudionale/" />
<meta name="dc.relation" content="https://twitter.com/estudionale/" />
<meta name="dc.relation" content="https://ar.pinterest.com/estudionale/" />
<!--meta name="dc.relation" content="estudionale@gmail.com" /-->
<meta name="dc.relation" content="{{ site.url }}/" />
<meta name="dc.source" content="{{ site.url }}/" />
<meta name="dc.subject" content="abogado" />
<meta name="dc.title" content="{{ site.name }}" />
<meta name="dc.type" content="profile" />
<meta name="dc.rights" content="{{ site.author }}" />
<!--meta name="dc.date" scheme="W3CDTF" content="2011-06-26" /-->


<script type='application/ld+json'>
{ "@context": "https://www.schema.org/",
  "@type": "Attorney",
  "name": "{{ site.author }}",
  "url": "{{ site.url }}/",
  "logo": "{{ site.url }}{{ site.avatar }}",
  "priceRange": "$$$",
  "image": "{{ site.url }}{{ site.avatar }}",
  "description": "{{ site.description }}",
  "address": {
     "@type": "PostalAddress",
     "streetAddress": "General Pico 74",
     "addressLocality": "Santa Rosa",
     "addressRegion": "La Pampa",
     "postalCode": "L6300DQB",
     "addressCountry": "Argentina"
  },
  "geo": {
     "@type": "GeoCoordinates",
     "latitude": "-36.617537139690874",
     "longitude": "-64.29392527116423"},
  "hasMap": "https://www.google.com.ar/maps/place/Estudio+Jur%C3%ADdico+Nale/@-36.6175027,-64.2961247,17z/data=!3m1!4b1!4m5!3m4!1s0x95c2cd08e24613a7:0x32b2c5e7a10f6320!8m2!3d-36.617507!4d-64.293936?hl=es",
  "telephone": "+5492954529500"}
</script>

<script type="application/ld+json">
  {  "@context": "https://schema.org/",
    "@type": "BreadcrumbList",
    "itemListElement": [
     {   "@type": "ListItem",
         "position": 1,
         "name": "{{ site.name }}",
         "item": "{{ site.url }}/" } ] }
</script>

<meta name="facebook-domain-verification" content="1gx07x6c41lmgjkwvzqyh7tt5juenr" />
<meta name="google-site-verification" content="RKMa0zb9gUtcLD5KVLQCeBxWItq_qYg6l_m15pQFXjs" />
<meta name="yandex-verification" content="a8b740b5ac29b6b7" />

<!--
<meta itemprop="name" content="{{ site.name }}" />
<meta itemprop="description" content="{{ site.description }}" />
<meta itemprop="image" content="{{ site.url }}{{ site.avatar }}" />
<meta itemprop="telephone" content="+5492954529500" />
<meta itemprop="address" content="Gral. Pico 74, L6300DQB Santa Rosa, La Pampa, Argentina." />
<meta itemprop="hasMap" content="https://www.google.com.ar/maps/place/Estudio+Jur%C3%ADdico+Nale/@-36.617507,-64.293936,17z/data=!3m1!4b1!4m5!3m4!1s0x95c2cd08e24613a7:0x32b2c5e7a10f6320!8m2!3d-36.617507!4d-64.293936?hl=es" />
<meta itemprop="logo" content="{{ site.url }}{{ site.avatar }}" />
<meta itemprop="url" content="{{ site.url }}/" />
<meta itemprop="keywords" lang="es" content="abogado, estudio de abogados, abogado penalista, abogado familia, abogado sucesiones, abogado civil, derecho civil, derecho penal, cobranzas, mediacion, mediador, estudio jurídico, legal, legales, juridico, estudio juridico, bufete, despacho, estudio nale, estudionale.com, estudionale, gustavo nale, gustavo david nale, nale, santa rosa, la pampa, argentina" />
<meta itemprop="keywords" lang="en" content="lawyer, attorney, gustavo nale, gustavo david nale, estudionale.com" />
<meta itemprop="email" content="estudionale@gmail.com" />
<meta itemprop="funder" content="Estudio Nale" />
<meta itemprop="latitude" content="-36.617537139690874" />
<meta itemprop="longitude" content="-64.29392527116423" />
<meta itemprop="about" content="Estudio Nale" />
-->
