<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="preload" href="/assets/style.css" as="style" />

<meta name="keywords" content="abogado, estudio de abogados, abogado penalista, abogado familia, abogado sucesiones, abogado civil, derecho civil, derecho penal, cobranzas, mediacion, mediador, estudio jurídico, legal, legales, juridico, estudio juridico, lawyer, attorney, bufete, despacho, santa rosa, la pampa, argentina" />

{% if page.excerpt %}
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
{% elsif page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<meta name="author" content="{{ site.name }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}

<!-- aca agregue sizes="1616x1269", og:image:width y og:image:height el sab 21/may/2022-->

{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<!--meta property="og:image:width" content="1616" /-->
<!--meta property="og:image:height" content="1269" /-->
<meta property="twitter:image" content="{{ site.url }}{{ page.image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}{{ site.avatar }}" />
<meta property="og:image:width" content="1616" />
<meta property="og:image:height" content="1269" />
<meta property="twitter:image" content="{{ site.url }}{{ site.avatar }}" sizes="1616x1269" />
{% endif %}



<meta property="og:type" content="profile" />
<meta property="og:locale" content="es_AR" />
<meta property="twitter:domain" content="estudionale.com" />
<meta property="twitter:url" content="estudionale" />
<meta name="twitter:description" content="Estudio de abogados. Servicios Jurídicos. Santa Rosa La Pampa." />
<!--meta property="fb:app_id" content="546360472717498" /-->
<meta property="fb:app_id" content="391026149704853" />
<meta name="facebook-domain-verification" content="1gx07x6c41lmgjkwvzqyh7tt5juenr" />
<meta name="google-site-verification" content="RKMa0zb9gUtcLD5KVLQCeBxWItq_qYg6l_m15pQFXjs" />
<meta name="yandex-verification" content="a8b740b5ac29b6b7" />
