<!DOCTYPE html>
<html lang="es-419" prefix="og:https://ogp.me/ns# fb:https://ogp.me/ns/fb#" itemscope="itemscope" itemtype="https://schema.org/Attorney">
  <head profile="https://www.dublincore.org/documents/2008/08/04/dc-html/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}
    <!--llink rel="stylesheet" href="{{ site.url }}/assets/style.css" />
    <ink rel="preload" as="style" href="{{ site.url }}/assets/style.css" /-->
    
    <link rel="preload" href="{{ site.url }}/assets/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ site.url }}/assets/style.css"></noscript>
    
    
    
    
    
    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.url }}/feed.xml" />
    <!--link rel="canonical" href="{{ site.url }}{{ page.url }}" /-->
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/images/favicon.ico" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ site.url }}/images/favicon.png" sizes="16x16" />
    <!--link rel="icon" type="image/svg+xml" href="{{ site.url }}/images/favicon.svg" sizes="any" />
    <link rel="apple-touch-icon" href="{{ site.url }}/images/favicon.png" sizes="16x16" /-->
    {% include analytics_head.html %}
  </head>
  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.url }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.url }}, {{ site.name }}, {{ site.author }}, {{ site.description }}"/></a>
            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.url }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>
            <!--nav-->
              <!--<a href="{{ site.baseurl }}/">Home</a>-->
              <!--<a href="{{ site.baseurl }}/getting-started">Getting Started</a>-->
              <!--<a href="{{ site.baseurl }}/search">Search</a>-->
              <!--<a href="{{ site.baseurl }}/about">About</a>-->
              <!--<a href="{{ site.baseurl }}/archive">Archive</a>-->
            <!--/nav-->
          </header>
        </div>
      </div>
      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>
      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>
    {% include analytics.html %}
  <!-- Clarity tracking code for https://estudionale.com/ -->
   <script> (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "brnvgl87cm");
   </script>
  </body>
</html>
